@charset "UTF-8";

body{
    display: grid;
    grid-template-columns: auto minmax(100px, 300px) minmax(600px, 1000px) auto;
    grid-template-rows:auto auto auto auto;
    grid-template-areas:
    ". nav nav ."
    ". header header ."
    ". main main ."
    ". footer footer .";
    background-color: rgb(232, 255, 252);
    background-size: 100vw 100vh;
}

#localNavPage{
    grid-template-columns: auto minmax(100px, 300px) minmax(600px, 1000px) auto;   
    grid-template-areas:
    ". nav nav ."
    ". locnav locnav ."
    ". header header ."
    ". main main ."
    ". footer footer .";
}


html, body{
    height: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*HEADER*/
header{
    grid-area: header;
    background-color: rgb(255, 255, 255);
}

header img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

/*MAIN*/
main{
    grid-area: main;
    background-color: rgba(255, 255, 255, 0.452);
}

main p{
    clear: both;
}

#imagegallery{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    clear: both
}

.gallerycontent{
    height: 40vh;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.gallerycontent img{
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
    border: solid rgb(45, 142, 207);
}

.animal img{
    border-radius: 50%;
    opacity: 0.7;
    float: left;
    margin: 10px;
    object-fit: cover;

    width: 200px;
    height: 200px;
    
    z-index: 1;
    position: relative;

    transition: all 1s;
}

.animal img:hover{
    border-radius: 0%;
    opacity: 1;
    transform: scale(2);
    box-shadow: black 5px 5px 10px;
    z-index: 100;
}

#contactInfo{
    clear:both;
    margin-left: 20px;
    background-color: rgb(255, 255, 255);
}

.infoBox img{
    float: inline-start;
    clear: left;
}
.infoBox p{
    float: inline-start;
    clear: none;
}

.infoBox a{
    text-decoration: none;
    color: black;
}

.infoBox a:hover, .infoBox a:active
{
    color: rgb(14, 125, 177);
}

/* FORM */

form{
    background-color: rgb(223, 255, 205);
}

form legend{
    background-color: rgb(193, 224, 175);
}

input[type=text]{
    padding: 15px 15px;
    margin: 8px 8px;
}

input[type=checkbox]{
    height: 25px;
    width: 25px;
}

form label{
    color: rgb(54, 124, 14);
}

/*NAV*/
nav{
    grid-area: nav;
}

nav a{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

nav ul{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
}

nav a{
    display: block;
    text-decoration: none;
    padding: 2rem;
    width: max-content;
    color: black;
    text-align: center;
}

nav ul > li{
    display: inline-block;
}

#globalNav{
    background-color:rgb(18,144,203);
    position: sticky;
}

#globalNav a:link, #globalNav a:visited
{
    background-color: rgb(18,144,203);
}

#globalNav a:hover, #globalNav a:active
{
    background-color: rgb(14, 125, 177);
}

#localNav{
    grid-area: locnav;
    background-color: rgb(87, 176, 218);
}

#localNav a{
    padding: 1rem 4rem 1rem 4rem;
}

#localNav a:link, #localNav a:visited
{
    background-color: rgb(87, 176, 218);
}

#localNav a:hover, #localNav a:active
{
    background-color: rgb(112, 190, 226);
}

.dropdownmenu{
    position: relative;
    display:inline-block;
}

.dropdowncontent{
    display:none;
    position: absolute;
    min-width: 160px;
    background-color: rgb(112, 190, 226);
    z-index: 1;
    box-shadow: 8px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdowncontent a:link, .dropdowncontent a:visited
{
    background-color: rgb(112, 190, 226)  !important;
}

.dropdowncontent a:hover, .dropdowncontent a:active
{
    background-color: rgb(128, 195, 226) !important;
}

.dropdownmenu:hover .dropdowncontent {
    display: block;
}

/*FOOTER*/
footer{
    grid-area: footer;
    background-color: rgb(18,144,203);
    font-size: 12px;
}

#centerImage{
  text-align: center;
}